@import "../../variables/globals";
@import "../../variables/animations";

.restaurant-image img {
    max-width: 100%;
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
}

.menu-container {
    margin-top: -3.5rem;
    border-radius: 2rem 2rem 0 0;
    background-color: $color-gray-secondary;
    position: relative;

    .menu-container-header {
        padding: 1rem 2rem 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu-header-title {
            font-family: Shrikhand;
        }

        .menu-header-heart {
            font-size: 25px;
            transition: all 1500ms;
        }

        .menu-header-heart:hover i::before {
            transition: all 500ms;
            content: "\f004";
            font-weight: 900;
            color: $color-secondary;
        }

        .menu-header-heart:hover  {
            font-weight: 400;
            color: white;
        }
    }

    .menu-container-entries {
        display: grid;

        .container-entry {
            max-width: 100%;
            overflow: hidden;
            padding: 0 1rem;

            .entry-title {
                text-transform: uppercase;
                position: relative;
                padding-bottom: 0.5rem;
                font-weight: 400;
            }

            .entry-item {
                background-color: white;
                height: 5rem;
                display: flex;
                border-radius: 0.75rem;
                margin: 1rem 0;
                box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
                max-width: 100%;
                overflow: hidden;
                width: 100%;
                animation: slowAppear 1s forwards;
                opacity: 0;


                .entry-item-content {
                    display: flex;
                    flex: 1;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 100%;
                    max-width: 100%;
                    justify-content: space-between;
                    padding: 1rem;

                    .entry-item-price-container {
                        display: flex;
                        align-items: center;
                    }

                    .entry-item-content-desc {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        justify-content: space-evenly;
                        overflow: hidden;
                        width: 80%;

                        .item-title {
                            font-weight: 700;
                            margin: 0;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            max-width: 100%;
                        }

                        .item-description {
                            margin: 0;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            max-width: 100%;
                        }
                    }
                }

                .entry-item-price {
                    font-weight: 700;
                    display: grid;
                    align-items: flex-end;
                    padding-left: 0.5rem;
                }

                .entry-item-confirm {
                    @include flex;
                    height: 100%;
                    background-color: #99e2d0;
                    width: 4em;
                    margin-right: -4em;
                    margin-left: 1em;
                    visibility: hidden;
                    transition-duration: 800ms;

                    .item-confirm-icon {
                        @include flex;
                        height: 1.5rem;
                        width: 1.5rem;
                        background-color: #fff;
                        border-radius: 100px;
                        transform: rotate(-360deg);
                        transition-duration: 800ms;
                    }
                }

                &:hover {
                    .entry-item-confirm {
                        margin-right: 0em;
                        visibility: visible;
                    }
                    .item-confirm-icon {
                        transform: rotate(0);
                    }
                }
            }

            .entry-item:nth-child(2) {
                animation-delay: 0s;
            }

            .entry-item:nth-child(3) {
                animation-delay: 250ms;
            }

            .entry-item:nth-child(4) {
                animation-delay: 500ms;
            }

        }
    }
}

.order-menu {
    background-color: $color-gray-secondary;
    padding: 2.5rem 0 2.5rem 0;
    @include flex;
}


@media (min-width: 1024px) {

    .menu-container .menu-container-entries {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .container-entry {
        width: 50%;
    }
}