@import "../../variables/globals";



.navigation {
    display: flex;
    flex-direction: column;

    nav {
        box-shadow: 0 0 1rem 0 rgb(0 0 0 / 25%);
        position: relative;
    }

    .location-header {
        @include flex;
        grid-gap: 0.85rem;
        padding: 1.5rem 0 1.5rem 0;
        font-weight: 500;
        background: $color-gray;
    }

    .logo {
        @include flex;

        padding: 1.5rem 0 1.5rem 0;
        max-width: 100%;

        img {
            max-width: calc(200/16)+rem;
            max-height: 50%;
        }
    }

    .information-container {
        @include flex;
        
        text-align: center;
        grid-gap: 1.25rem;
        padding: 2rem 1.75rem 4.5rem 1.75rem;
        background-color: #f7f7f7;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;

        .information-title {
            font-weight: 800;
            font-size: 23px;
        }

        .information-text {
            font-weight: 500;
            font-size: 17px;
        }
    }
}

.information-button button {
    @include base-shadow;

    height: 50px;
    border-radius: 100px;
    border: none;
    background: linear-gradient($color-secondary, $color-primary);
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    transition: 200ms ease-in-out;

    &:hover {
        filter: brightness(1.1);
        box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 20px 3px;
    }
}