@import "../../variables/globals";


.restaurants-container {

    background-color: $color-gray;

    .restaurants-container-text {
        padding: 1.5rem 0 0 1rem;
    }

    .restaurants-container-items {
        @include flex;

        flex-direction: column;
        align-content: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
        gap: 1.25rem;

        .restaurant-item-card {
            @include base-shadow;

            width: 90%;
            background-color: white;
            border-radius: 1.25rem;
            position: relative;
            display: block;
            transition: box-shadow 250ms ease-in-out;

            .restaurant-card-image {
                height: 10.5rem;
                width: 100%;
                border-radius: 1.25rem 1.25rem 0 0;
                object-fit: cover;
                cursor: pointer;
            }

            .restaurant-card-content {
                padding: 1rem;
                position: relative;
                display: flex;
                align-items: center;

                .restaurant-card-content-text {
                    display: grid;
                    flex: 1;

                    .restaurant-card-content-title {
                        font-weight: 700;
                        font-size: 16px;
                        margin: 0 0 0.25rem;
                    }

                    .restaurant-card-content-info {
                        margin: 0;
                    }
                }

                .restaurant-card-heart {
                    font-size: 23px;
                    transition: all 1500ms;
                }

                .restaurant-card-heart:hover i::before {
                    transition: all 500ms;
                    content: "\f004";
                    font-weight: 900;
                    color: $color-secondary;
                }

                .restaurant-card-heart:hover  {
                    font-weight: 400;
                    color: white;
                }

            }

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 20px 5px;
            }
        }
    }
}



@media (min-width: 1024px) {
    .restaurants-container {
        .restaurants-container-items {
            display: flex;
            gap: 2.25rem;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .restaurant-item-card {
                box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
                width: 38%;
                background-color: white;
                border-radius: 1.25rem;
                position: relative;
                display: block;
            }
        }
    }
}