@import "../../variables/globals";


.restaurants-container {

    background-color: $color-gray;

    .restaurants-container-text {
        padding: 1.5rem 0 0 1.5rem;
    }

    .restaurants-container-items {
        @include flex;

        flex-direction: column;
        align-content: center;
        padding-top: 1rem;
        gap: 1.25rem;

        .restaurant-item-card {
            @include base-shadow;

            width: 90%;
            background-color: white;
            border-radius: 1.25rem;
            position: relative;
            display: block;

            .restaurant-card-image {
                height: 10.5rem;
                width: 100%;
                border-radius: 1.25rem 1.25rem 0 0;
                object-fit: cover;
                cursor: pointer;
            }

            .restaurant-card-content {
                padding: 1rem;
                position: relative;
                display: flex;
                align-items: center;

                .restaurant-card-content-text {
                    display: grid;
                    flex: 1;

                    .restaurant-card-content-title {
                        font-weight: 700;
                        font-size: 16px;
                        margin: 0 0 0.25rem;
                    }

                    .restaurant-card-content-info {
                        margin: 0;
                    }
                }

                .restaurant-card-heart {
                    font-size: 20px;
                    z-index: 2;

                    .card-heart-hover {
                        color: $color-secondary;
                        transition-duration: 500ms;
                        display: none;
                    }

                    .card-heart-regular {
                        transition-duration: 500ms;
                    }

                    &:hover > .card-heart-hover {
                        transition-duration: 500ms;
                        display: initial;
                    }

                    &:hover >  .card-heart-regular {
                        transition-duration: 500ms;
                        display: none;
                    }
                }

            }
        }
    }
}



